
#class-name
{
    color: #ff3300;
    padding: 0 0 2rem 1rem;
}
.simulator-section
{
    padding: 5rem 0;
}
.simulator-window
{
    background: white;
    padding: 2rem 0;
    border-top: 1px solid #ff3300;
    border-bottom: 1px solid #ff3300;
    min-height: 500px;
}
.skill-description .inner, .skill-tree .inner, .skill-list .inner
{
    padding: 0 1rem;
    position: relative;
}
.skill-list
{

    width: 101px;
    float: left;
    max-height: 485px;
    overflow-y: auto;
}
.skill-list .inner
{
    width: 64px;
    /*padding: 0 0 0 1rem;*/
}
.skill-list .list, .skill-list .list li
{
    margin:0;
}
.skill-list .list li
{
    height: 38px;
    display:block;
    border-bottom: 1px solid #ff3300;
}
.skill-list .list li.key
{
    font-weight: 400;
    font-size: 2rem;
    color:white;
    height:38px;
    line-height: 38px;
    padding: 0 0 0 1rem;
    background: #ff3300;
}
.skill-list .list li.skill
{
    transition: margin-left 0.2s;
}
.skill-list .list li.skill:not(.active)
{
    cursor: pointer;
}
.skill-list .list li.skill:hover,
.skill-list .list li.skill.active
{
    margin-left: 5px;
}
li.skill .thumb
{
    height: 38px;
    width: 64px;
    display:inline-block;
    float:left;
    overflow: hidden;
}
li.skill .thumb img
{
    margin-top: -13px;
}
li.skill .name
{
    height: 38px;
    font-size: 13px;
    line-height: 38px;
    margin-left: 70px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}
.noTree
{
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    height: 6rem;
    font-size: 2rem;
    display:none;
}
.skill-tree
{
    width: calc(100% - 101px);
    float:left;
}
.skill-tree .inner
{
    position: relative;
    text-align: center;

}
.skill-grid
{
    position: relative;
    text-align: center;
    margin: auto;
    width: 230px;
    height: 485px;
}
.skill-tree .node
{
    position: absolute;
    width: 64px;
    height: 64px;
}
.skill-tree .node.x1{left:0%}
.skill-tree .node.x2{left:calc(50% - 32px)}
.skill-tree .node.x3{left:calc(100% - 64px)}
.skill-tree .node.y1{top: 11px}
.skill-tree .node.y2{top: 111px}
.skill-tree .node.y3{top: 211px}
.skill-tree .node.y4{top: 311px}
.skill-tree .node.y5{top: 411px}

.node .icon img
{
    /* 54 + 5*2 = 64 */
    margin: 5px;
    height: 54px;
    width: 54px;
}
.node .frame, .node .icon
{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 7px;
}



.node.available
{
    cursor:pointer;
    border-radius: 3px;
    box-shadow: 0 0 0 2px #fff,
                0 0 7px 4px #FFB400;
    background-color: white;
}

.node .frame
{
    background-repeat: no-repeat;
    background-size: 64px 64px;
    -webkit-background-size: 64px 64px;
}
/* Preloading images
------------------------------------------- */
.node.preload1{background-image:     url(../img/simulator/default.png);}
.node.preload2{background-image:     url(../img/simulator/default_dark.png);}
.node.preload3{background-image:     url(../img/simulator/default_dark_plus.png);}
.node.preload4{background-image:     url(../img/simulator/blue.png);}
.node.preload5{background-image:     url(../img/simulator/blue_dark.png);}
.node.preload6{background-image:     url(../img/simulator/blue_dark_plus.png);}
.node.preload7{background-image:     url(../img/simulator/blue_dark_cross.png);}




.node.available .frame{ background-image: url(../img/simulator/default_dark_plus.png);
}
.node.available .frame:hover{ background-image: url(../img/simulator/blue_dark_plus.png);}

.node.unavailable .frame{ background-image: url(../img/simulator/default_dark.png);}
.node.unavailable .frame:hover{ background-image: url(../img/simulator/blue_dark.png);}

.node.active .frame{ background-image: url(../img/simulator/default.png);}
.node.active .frame:hover { background-image: url(../img/simulator/blue.png);}
.node.disabled .frame{ background-image: url(../img/simulator/default_dark.png)}
.node.disabled .frame:hover{ background-image: url(../img/simulator/blue_dark_cross.png);}



.skill-description
{
    margin: 1rem 0;
    border-top: 1px solid #ff3300;
}
.skill-description .name
{
    font-size: 2rem;
    color: #6dc0cd;
    display: block;
    margin-bottom: 1rem;
}
.skill-description .right-box
{
    position: absolute;
    right: 1rem;
    top:0;
}
.skill-description .resource
{
    font-size: 14px;    font-weight: 600;
    margin:0;
    text-align: right;
}
.skill-description .point-cost
{
    font-size: 14px;    font-weight: 600;
    margin:0;
    text-align: right;
    color: #44cc55;
}
.skill-description .icon
{
    position: relative;
    width: 64px;
    height: 64px;
    display: inline-block;
    float: left;
}

.skill-description .skill img
{
    margin: 2px;
    height: 60px;
    width: 60px;
    border-radius: 7px;
}
.skill-description .frame,
.skill-description .skill
{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 7px;
}
.skill-description .frame
{
    background-image: url(../img/simulator/normal_frame.png);
    background-repeat: no-repeat;
    -webkit-background-size: 64px 64px;
    background-size: 64px 64px;
}



.skill-description .info
{
    display: inline-block;
    float: left;
    width: calc(100% - 64px);
    font-size: 1.8rem;
    line-height: 2rem;
}

.sub-info ul
{
    margin: 1rem 0;
}
.sub-info li
{
    list-style: none;
    margin:0;
    font-size: 11px;
    font-weight: 600;
    line-height: 15px;
}
.sub-info li.remove
{
    text-decoration: line-through;
    color: #999;
}
.sub-info li.add
{
    color: #44cc55;
}
li.add:after {
    content: "Add";
    margin-left: 5px;
    padding: 0px 7px;
    background-color: #00a805;
    color: #DAFFDE;
    border-radius: 10px;
}
.skill-description .info-table
{
    font-size: 10px;
    margin: auto;
    display: table;
}
.skill-description .info-table li {
    float: left;
    display: inline-block;
    width: 60px;
    overflow: hidden;
    word-spacing: 0;
    letter-spacing: 0;
    margin-left: 4px;
}
.skill-description .info-table div
{
    margin-bottom: 2px;
    border-radius: 5px;
    border: 1px solid #ff3300;
    display: block;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
}
.skill-description .info-table li .head {
    line-height: 20px;
}
.skill-description .info-table li .body {
    line-height: 60px;
}

.skill-requirements p
{
    font-size: 1.3rem;
    line-height: 1.5rem;
    margin: 0 0 1rem 0;
}
.skill-requirements .fat
{
    margin:0;
    font-size: 1.5rem;
    font-weight: 600;
}

@media(min-width: 750px){
    .skill-list{
        width:40%;
    }
    .skill-list .inner
    {
        width: auto;
    }
    .skill-tree
    {
        width: 60%;
    }
    .skill-description
    {
        margin: 0;
        border-top: 0;
    }
}