@font-face
{
    src: url("../font/Direct%20du%20Gauche.ttf");
    font-family: "Gauche";
}
body, label, h1, h2, h3, h4, h5, h6, a, span {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 300;
}
body
{
    font-size: 1.5em;
    line-height: 1.6;
}


/* Navbar
------------------------------------------- */
.navbar-button
{
    display: block;
    width: 6.5rem;
    height: 6.5rem;
    position: relative;
    margin-bottom: 0;
    cursor: pointer;
    float: right;
}
.navbar
{
    position: static;
    left:0px;
    top:0px;
    display: block;
    width: 100%;
    height: 6.5rem;
    background: #fff;
    z-index: 99;
    border-bottom: 1px solid #eee;
}

.navbar .navbar-right
{
    float:right;
}
.navbar .navbar-list
{
    list-style: none;
    margin-bottom: 0;
}
.navbar .navbar-item:before
{
    content:"";
    position: absolute;
    bottom:0;
    display:block;
    width: 100%;
    height: 0px;
    left:0;
    transition: height 0.2s;
    background: #ff3300;
}
.navbar .navbar-item:hover::before,
.navbar .navbar-item.active::before
{
    height: 3px;
}
.navbar .navbar-item {
    position: relative;
    float: left;
    margin-bottom: 0;
}

.navbar .navbar-link {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .2rem;
    padding: 0px 12px;
    text-decoration: none;
    line-height: 6.5rem;
    color: #222;
    display: block;
}

.navbar .navbar-collapse
{
    display:none;
}

/* Collapsed navbar
------------------------------------------- */
.navbar-collapsed
{
    display: none;
    position: static;
    overflow: hidden;
    left: 0px;
    width: 100%;
    background: #fff;
    z-index: 99;
    border-bottom: 1px solid #eee;
}
.navbar-collapsed.overlap
{
    display:none;
    position: absolute;
    overflow: hidden;
    top: 6.5rem;
    left: 0px;
    width: 100%;
    background: #fff;
    z-index: 99;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}


.navbar-collapsed .navbar-list
{
    list-style: none;
    margin-bottom: 0;
}

.navbar-collapsed .navbar-item {
    position: relative;
    margin-bottom: 0;
}

.navbar-collapsed .navbar-link {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .2rem;
    padding: 0px 12px;
    text-decoration: none;
    line-height: 6.5rem;
    color: #222;
    display: block;
}

.navbar-link:hover
{
    color: #ff3300;
}


/* General
------------------------------------------- */

.section
{
    position: relative;
    background: #ffffff;
    padding: 12rem 0;
}

.brushed
{
    font-family: Gauche;
    text-transform: uppercase;
}


/* Welcome Section
------------------------------------------- */
.welcome
{
    text-align: center;
    overflow: hidden;
    color: #1E1E1C;
}
.welcome-message
{
    position: relative;
    z-index:1;
}
.welcome-message > h1, h2, h3, h4
{
    margin:0;
}
.figure-1
{
    position: absolute;
    right: -9rem;
    top: -13rem;
    max-height: 750px;
    opacity: 0.4;
    pointer-events: none;
}
.logo
{
    top: -1rem;
    pointer-events: none;
}


.sample
{
    text-align: center;
    color: #fff;
}







/* Background Images
------------------------------------------- */
.background-1
{
    background-image: url('../img/background-1.jpg');
    -webkit-background-size: cover;
    background-size: cover;
}
.background-2
{
    background-image: url('../img/background-2.jpg');
    -webkit-background-size: cover;
    background-size: cover;
}
.background-3
{
    background-image: url('../img/background-3.jpg');
    -webkit-background-size: cover;
    background-size: cover;
}
.background-4
{
    background-image: url('../img/background-4-compressed.jpg');
    -webkit-background-size: cover;
    background-size: cover;
}

#particles-js
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}


/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {
}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}
/* Larger than desktop */
@media (min-width: 900px) {

    .navbar-button{display:none;}
    .navbar-collapsed{display:none;}
    .navbar .navbar-collapse{display:block;}
}
/* Larger than desktop */
@media (min-width: 1000px) {
    .figure-1{opacity: 1;right:-7rem;}
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}





/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {
    section.navigation{ display:block; }
    .collapse{ display:none; }

    .xs-one.column,
    .xs-one.columns                    { width: 4.66666666667%; }
    .xs-two.columns                    { width: 13.3333333333%; }
    .xs-three.columns                  { width: 22%;            }
    .xs-four.columns                   { width: 30.6666666667%; }
    .xs-five.columns                   { width: 39.3333333333%; }
    .xs-six.columns                    { width: 48%;            }
    .xs-seven.columns                  { width: 56.6666666667%; }
    .xs-eight.columns                  { width: 65.3333333333%; }
    .xs-nine.columns                   { width: 74.0%;          }
    .xs-ten.columns                    { width: 82.6666666667%; }
    .xs-eleven.columns                 { width: 91.3333333333%; }
    .xs-twelve.columns                 { width: 100%; margin-left: 0; }

}

/* Larger than phablet */
@media (min-width: 550px) {
    section.navigation{ display:none; }
    .collapse{ display:block; }

    .sm-one.column,
    .sm-one.columns                    { width: 4.66666666667%; }
    .sm-two.columns                    { width: 13.3333333333%; }
    .sm-three.columns                  { width: 22%;            }
    .sm-four.columns                   { width: 30.6666666667%; }
    .sm-five.columns                   { width: 39.3333333333%; }
    .sm-six.columns                    { width: 48%;            }
    .sm-seven.columns                  { width: 56.6666666667%; }
    .sm-eight.columns                  { width: 65.3333333333%; }
    .sm-nine.columns                   { width: 74.0%;          }
    .sm-ten.columns                    { width: 82.6666666667%; }
    .sm-eleven.columns                 { width: 91.3333333333%; }
    .sm-twelve.columns                 { width: 100%; margin-left: 0; }

}

/* Larger than tablet */
@media (min-width: 750px) {
    .lg-one.column,
    .lg-one.columns                    { width: 4.66666666667%; }
    .lg-two.columns                    { width: 13.3333333333%; }
    .lg-three.columns                  { width: 22%;            }
    .lg-four.columns                   { width: 30.6666666667%; }
    .lg-five.columns                   { width: 39.3333333333%; }
    .lg-six.columns                    { width: 48%;            }
    .lg-seven.columns                  { width: 56.6666666667%; }
    .lg-eight.columns                  { width: 65.3333333333%; }
    .lg-nine.columns                   { width: 74.0%;          }
    .lg-ten.columns                    { width: 82.6666666667%; }
    .lg-eleven.columns                 { width: 91.3333333333%; }
    .lg-twelve.columns                 { width: 100%; margin-left: 0; }
}

/* Larger than desktop */
@media (min-width: 1000px) {
    .xl-one.column,
    .xl-one.columns                    { width: 4.66666666667%; }
    .xl-two.columns                    { width: 13.3333333333%; }
    .xl-three.columns                  { width: 22%;            }
    .xl-four.columns                   { width: 30.6666666667%; }
    .xl-five.columns                   { width: 39.3333333333%; }
    .xl-six.columns                    { width: 48%;            }
    .xl-seven.columns                  { width: 56.6666666667%; }
    .xl-eight.columns                  { width: 65.3333333333%; }
    .xl-nine.columns                   { width: 74.0%;          }
    .xl-ten.columns                    { width: 82.6666666667%; }
    .xl-eleven.columns                 { width: 91.3333333333%; }
    .xl-twelve.columns                 { width: 100%; margin-left: 0; }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
    .xxl-one.column,
    .xxl-one.columns                    { width: 4.66666666667%; }
    .xxl-two.columns                    { width: 13.3333333333%; }
    .xxl-three.columns                  { width: 22%;            }
    .xxl-four.columns                   { width: 30.6666666667%; }
    .xxl-five.columns                   { width: 39.3333333333%; }
    .xxl-six.columns                    { width: 48%;            }
    .xxl-seven.columns                  { width: 56.6666666667%; }
    .xxl-eight.columns                  { width: 65.3333333333%; }
    .xxl-nine.columns                   { width: 74.0%;          }
    .xxl-ten.columns                    { width: 82.6666666667%; }
    .xxl-eleven.columns                 { width: 91.3333333333%; }
    .xxl-twelve.columns                 { width: 100%; margin-left: 0; }
}


/*.column,*/
/*.columns {*/
/*margin-left: 0 !important; }*/
